<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>net.shinystone.LaunchBar.action.OKJSON-Pasteboard</string>
	<key>CFBundleName</key>
	<string>View JSON in Pasteboard</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>ok</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Francis Feng</string>
		<key>LBEmail</key>
		<string>ftieshan@gmail.com</string>
		<key>LBRequirements</key>
		<string>OK JSON app is required.</string>
		<key>LBSummary</key>
		<string>Open OK JSON and view JSON string in your Pasteboard.</string>
		<key>LBTwitter</key>
		<string>https://twitter.com/okjson</string>
		<key>LBWebsiteURL</key>
		<string>https://okjson.app</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequiredApplication</key>
	<string>net.shinystone.OKJSON</string>
	<key>LBRequirements</key>
	<string>OK JSON app is required.</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.sh</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2021 Shiny Stone</string>
</dict>
</plist>
